.image img{
	width: auto; 
	height: auto;
	max-width: 120px;
	max-height: 100px;
}

video{
	width: 320px; 
	height: 240px;
}

#seek-bar{
	width: 320px;
}

.audio-input{
	position: absolute;
}
.audio-input input{
	margin-left: 20px;
	margin-top: -20px;
}